<div class="card card-outline card-info">
    <div class="card-header">
      <h3 class="card-title">Resumen por calidad 
          {% if nombre_status != '' %}
          <strong>en {{nombre_status}}</strong>
          {% endif %}
        </h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
        {% for encuestador in encuestadores %}
        
        <div class="row">
            <div class="col-2">

            <p>{{encuestador.usuarioCalidad}}</p>
            </div>
            <div class="col-9">
                <div class="progress mb-3">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{encuestador.valor/total}}" aria-valuemin="0"
                    aria-valuemax="100" style="width: {{encuestador.valor/total*100}}%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <p>{{encuestador.valor}}</p>
            </div>
        </div>
    
{% endfor %}
</div>
</div>