{% extends 'base.html.twig' %}

{% block title %}Encuestas{% endblock %}

{% block body %}
<div class="card">
{{ include('encuesta/_cabecera.html.twig') }}
</div>


<div class="card-body table-responsive p-0" >
            
    <table class="table table-head-fixed text-nowrap table-striped table-sm">
        <thead>
            <tr>
                <th>Grupo</th>
                <th>Calidad</th>
                <th>Fecha Encuesta</th>
                <th>Funci贸n Encuesta</th>
                <th>Respuesta</th>
                <th>Observaci贸n</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for encuesta in encuestas %}
            <tr>
                <td>{{contrato.grupo.id}}</td>
                <td>{{encuesta.usuarioCreacion}}</td>
                <td>{{encuesta.fechaCreacion?encuesta.fechaCreacion|date("Y-m-d"):''}}</td>
                <td>{{encuesta.funcionEncuesta?encuesta.funcionEncuesta.nombre:''}}</td>
                <td>{{encuesta.funcionRespuesta?encuesta.funcionRespuesta.nombre:''}}</td>
                <td>{{encuesta.observacion}}<td>
                <td><a href="{{path('encuesta_view',{'id':encuesta.id})}}" class="btn btn-sm btn-success" ><i class="fas fa-eye"></i></a><!-- colocar un visualizador de encuesta--> 
                </td>
            </tr>
        {% endfor %}
            
        </tbody>
    </table>
    <div class="card-footer">
        {% if contrato.estadoEncuesta is not null %}
            {% if contrato.estadoEncuesta.id!=1 %}
            <a href="{{path('encuesta_new_gestion',{'id':contrato.id})}}" class="btn btn-sm btn-primary" >Agregar Gesti贸n</a>
            {% else %}
                <a href="{{path('encuesta_edit',{'id':contrato.id})}}" class="btn btn-sm btn-primary" >Modificar Encuesta</a>
                                
            {% endif %}
        {% else %}
            <a href="{{path('encuesta_new_gestion',{'id':contrato.id})}}" class="btn btn-sm btn-primary" >Agregar Gesti贸n</a>
            
        {% endif %}
        
        
                            
    </div>  
</div>


{% endblock %}