{{ form_start(form) }}
	<section>
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">{{nombreCuenta|default('Compañia')}} *</small>
				
				<select name="cboEmpresa[]" class="select2 cuenta" multiple="multiple" data-placeholder="Selecciona compañias" style="width: 100%;" required>
					<option></option>
					{% for cuenta in cuentas %}
						<option value="{{cuenta.id}}"
						{% if cuentas_sel is defined %}
							{% for usuarioCuent in cuentas_sel %}
								{% if usuarioCuent.cuenta.id==cuenta.id %}
									selected
								{% endif %}
							{% endfor %}
						{% endif %}
						>{{cuenta.nombre}}</option>
					{% endfor %}}
				</select>
			</div>
			<div class="col-sm-6 col-md-6">
				<small class="text-muted">Nombre *</small>
				{{form_row(form.nombre,{'label':false,'attr':{'class':'form-control','required':true}})}}
			</div>
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">Colaborador *</small>
				
				<select name="cboTipoDocumento" class="form-control" required>
					<option></option>
					{% for tipo_documento in tipo_documentos %}
						<option value="{{tipo_documento.id}}"
						{% if usuario.tipoDocumento.id is defined %}

								{% if  usuario.tipoDocumento.id ==tipo_documento.id %}
									selected
								{% endif %}
						
						{% endif %}
						>{{tipo_documento.nombre}}</option>
					{% endfor %}}
				</select>
			</div>
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">Rut *</small>
				{{form_row(form.rut,{'label':false,'attr':{'class':'form-control','placeholder':'Rut','required':true}})}}
				
			</div>
			<div class="col-sm-6 col-md-3">
			<small class="text-muted">Correo *</small>
				{{form_row(form.correo,{'label':false,'attr':{'class':'form-control','required':true}})}}
			</div>
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">Teléfono Personal *</small>
				{{form_row(form.telefono,{'label':false,'attr':{'class':'form-control','required':true}})}}
				
			</div>
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">Teléfono Empresa *</small>
				{{form_row(form.whatsapp,{'label':false,'attr':{'class':'form-control','required':true}})}}
				
			</div>
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">Dirección *</small>
				{{form_row(form.direccion,{'label':false,'attr':{'class':'form-control','required':true}})}}
				
			</div>
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">Sexo *</small>
				{{form_row(form.sexo,{'label':false,'attr':{'class':'form-control','required':true}})}}
				
			</div>
			
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">FechaIngreso *</small>
				<input type="text" name="fecha_ingreso" class="form-control date" value="{{usuario.fechaActivacion?usuario.fechaActivacion|date('Y-m-d'):''}}" required>
			</div>
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">FechaNacimiento *</small>
				<input type="text" name="fecha_nacimiento" class="form-control date" value="{{usuario.fechaNacimiento?usuario.fechaNacimiento|date('Y-m-d'):''}}" required>
			</div>
			{% for cartera in carteras %}

			
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">Cartera {{cartera.materia.nombre}} *</small>
				<select name="cboCarteras[]" class="select3  {{cartera.materia.nombre}}" multiple="multiple" data-placeholder="Selecciona Cartera" style="width: 100%;" >
					<option></option>
					{% for cartera_asignada in carteras_asignadas %}
						{% if cartera_asignada.cartera.materia.id == cartera.materia.id %}
							<option value="{{cartera_asignada.cartera.id}}"
							selected >{{cartera_asignada.cartera.nombre}}</option>
						{% endif %}
					{% endfor %}
					{% for cartera_detalle in carteras_detalle %}
						{% if cartera_detalle.materia.id == cartera.materia.id %}
							
						
							{% if cartera_detalle.asignado==0 %}
								<option value="{{cartera_detalle.id}}"
							
								>{{cartera_detalle.nombre}}</option>
							{% endif %}
						{% endif %}
					{% endfor %}
				</select>
			</div>
			{% endfor %}
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">Estado Carteras *</small>
				
				{{form_row(form.estadoCartera,{'label':false,'attr':{'data-bootstrap-switch':''}})}}
				
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col-12">
			<h1>Datos de Sesión</h1>
			</div>
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">Usuario</small>
				{{form_row(form.username,{'label':false,'attr':{'class':'form-control','placeholder':'Usuario'}})}}
			</div>
			<div class="col-sm-6 col-md-3">
				<small class="text-muted">Password</small>
				{{form_row(form.password,{'label':false, 'attr':{'class':'form-control', 'placeholder':'******' ,'type':'password','required':false}})}}
				{{form_row(form.passwordAnt,{'label':false, 'attr':{'class':'form-control', 'placeholder':'******' ,'type':'password','required':false}})}}
			</div>
		</div>
	</section>
    <button class="btn btn-primary">{{ button_label|default('Crear') }}</button>
	
	
	<script>
		$(function () {
			//Initialize Select2 Elements
			$('.select2').select2();
			$('.select3').select2();
			//Colorpicker
			
		});

		$(".cuenta").change(function(){
			console.log($(this).val());
		});

   $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    })



	</script>


{{ form_end(form) }}
