{% extends 'base.html.twig' %}

{% block title %}Gestionar index{% endblock %}

{% block body %}
    <h1>Gestionar index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gestionar in gestionars %}
            <tr>
                <td>{{ gestionar.id }}</td>
                <td>{{ gestionar.nombre }}</td>
                <td>
                    <a href="{{ path('gestionar_show', {'id': gestionar.id}) }}">show</a>
                    <a href="{{ path('gestionar_edit', {'id': gestionar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gestionar_new') }}">Create new</a>
{% endblock %}
