{% extends 'base.html.twig' %}

{% block title %}Gestionar{% endblock %}

{% block body %}
    <h1>Gestionar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gestionar.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ gestionar.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gestionar_index') }}">back to list</a>

    <a href="{{ path('gestionar_edit', {'id': gestionar.id}) }}">edit</a>

    {{ include('gestionar/_delete_form.html.twig') }}
{% endblock %}
