{% extends 'base.html.twig' %}

{% block title %}Mis Datos{% endblock %}

{% block body %}

<br>
<br>



<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="card">
    
            <div class="card-body">
                <form action="{{path('mis_datos_modificar')}}" method="post">
                <div id="mensaje" class="row">{{mensaje|default('')|raw}}</div>
                <div class="row">
                    
                    <div class="col-md-4 col-sm-12">
                        <small class="text-muted" for="inputNombre">Usuario</small>
                        <p>{{misdatos.username}}</p>
                        
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <small class="text-muted" for="inputNombre">Cargo</small>
                        <p>{{misdatos.usuarioTipo.nombre}}</p>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <small class="text-muted" for="inputNombre">Nombre</small>
                        <p>{{misdatos.nombre}}</p>
                        
                    </div>
                     <div class="col-md-3 col-sm-12">
                        <small class="text-muted" for="inputNombre">Correo</small>
                        <p>{{misdatos.correo}}</p>
                        
                    </div>
                     <div class="col-md-3 col-sm-12">
                        <small class="text-muted" for="inputNombre">RUN</small>
                        <p>{{misdatos.rut}}</p>
                        
                    </div>
                     <div class="col-md-3 col-sm-12">
                        <small class="text-muted" for="inputNombre">Dirección</small>
                        <p>{{misdatos.direccion}}</p>
                        
                    </div>
                     <div class="col-md-3 col-sm-12">
                        <small class="text-muted" for="inputNombre">TelefonoPersonal</small>
                        <p>{{misdatos.telefono}}</p>
                        
                    </div>
                     <div class="col-md-3 col-sm-12">
                        <small class="text-muted" for="inputNombre">TelefonoEmpresa</small>
                        <p>{{misdatos.whatsapp}}</p>
                        
                    </div>
                     <div class="col-md-3 col-sm-12">
                        <small class="text-muted" for="inputNombre">FechaIngreso</small>
                        <p>{{misdatos.fechaActivacion|date('Y-m-d')}}</p>
                        
                    </div>
                     <div class="col-md-3 col-sm-12">
                        <small class="text-muted" for="inputNombre">FechaNacimiento</small>
                        <p>{{misdatos.fechaNacimiento|date('Y-m-d')}}</p>
                        
                    </div>
                    
                    
                </div>
                
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="card">
    
            <div class="card-body">
                <form action="{{path('mis_datos_password')}}" method="post" onsubmit="return validaPassword()">
                    <div class="row">
                        <div id="error">{{error|default('')|raw}}</div>
                        <div class="col-md-6 col-sm-12">
                            <small class="text-muted" for="inputNombre">Nueva Password</small>
                            <input type="password" class="form-control" name="password" id="password" aria-describedby="nombreHelp" value="" required>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <small class="text-muted" for="inputNombre">Repetir Password</small>
                            <input type="password" class="form-control" name="rePassword" id="rePassword" aria-describedby="nombreHelp" value="" required>
                            
                        </div>
                        <div class="mx-auto"><button type="submit" class="btn btn-primary">Cambiar Password</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function validaPassword(){

        if($("#password").val()==""){
            
            return false;
        }
        if($("#password").val()!=$("#rePassword").val()){
            $("#error").html(
               "<div class='alert alert-danger alert-dismissible fade show' role='alert'>"+
               "<strong>Error</strong> Los passwords deben ser iguales!!!"+
               "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"+
               "<span aria-hidden='true'>&times;</span></button></div>"
            );
            return false;
        }
        return true;
    }
</script>

{% endblock %}

