{% extends 'base.html.twig' %}

{% block title %}EstrategiaJuridica index{% endblock %}

{% block body %}
    <h1>EstrategiaJuridica index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estrategia_juridica in estrategia_juridicas %}
            <tr>
                <td>{{ estrategia_juridica.id }}</td>
                <td>{{ estrategia_juridica.Nombre }}</td>
                <td>
                    <a href="{{ path('estrategia_juridica_show', {'id': estrategia_juridica.id}) }}">show</a>
                    <a href="{{ path('estrategia_juridica_edit', {'id': estrategia_juridica.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('estrategia_juridica_new') }}">Create new</a>
{% endblock %}
