{% extends 'base.html.twig' %}
{% block title %}Hello ComisionAgendadorController!{% endblock %}

{% block body %}
<form action="{{path('comision_agendador')}}" method="get" id="bForm">
    <input type="hidden" name="bStatus" id="bStatus" value="{{status|default('')}}">
<section>

<div class="row">
    {% set total = 0 %}
    {% for resumen in resumenes %}
        <div class="col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-{{resumen[0].status.color}}"><i class="{{resumen[0].status.icon}}"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{resumen[0].status.nombre}}</span>
                    <span class="info-box-number">{{resumen.valor}}</span>
                    {% set total= total + resumen.valor %}
                    {% if resumen[0].status.id not in [10] %}
                    <a href="#" class="small-box-footer" onclick="javascript:buscar({{resumen[0].status.id}})">
                        Ver M치s <i class="fas fa-arrow-circle-right"></i>
                    </a>
                    {% endif %}
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    {% endfor %}
    {% if status is null %}
        <div class="col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Contratados</span>
                    <span class="info-box-number">{{total}}</span>
                </div>
            <!-- /.info-box-content -->
            </div>
        </div>
    {% endif %}
</div>

<div class="row">
    {% set total = 0 %}
    {% for resumen in resumenes %}
        <div class="col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-{{resumen[0].status.color}}"><i class="{{resumen[0].status.icon}}"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{resumen[0].status.nombre}}</span>
                    <span class="info-box-number">{{resumen.monto|number_format(0, ',', '.')}}</span>
                    {% set total= total + resumen.monto %}
                    {% if resumen[0].status.id not in [10] %}
                    <a href="#" class="small-box-footer" onclick="javascript:buscar({{resumen[0].status.id}})">
                        Ver M치s <i class="fas fa-arrow-circle-right"></i>
                    </a>
                    {% endif %}
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    {% endfor %}
    {% if status is  null %}
        <div class="col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Contratados</span>
                    <span class="info-box-number">{{total|number_format(0, ',', '.') }}</span>
                </div>
            <!-- /.info-box-content -->
            </div>
        </div>
    {% endif %}
</div>
</section>

{% if false %}
    

{% if sesion.getSesion.usuarioTipo.id in [3,1]  %}
    <section>
        {% if total>0 %}
            {{ render(controller('App\\Controller\\AgendaController::resumenagendadores', {'agendaStatus':status,'fechainicio':dateInicio,'fechafin':dateFin,'compania':bCompania,'filtro':bFiltro,'totalStatus':total,'tipoFecha':2,'agendador':null})) }}
        {% endif %}
    </section>
{% endif %}
{% endif %}
<div class="card">
    <div class="card-header">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <select name="bCompania" class="form-control">
                        <option value="0">Todos</option>
                        {% for compania in companias %}
                            <option value="{{compania.id}}"
                            {% if bCompania==compania.id %}
                                selected
                            {% endif %}
                            >{{compania.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                 <div class="col-sm-12 col-md-2">
                    <select name="bAgendador" class="form-control">
                        <option value="0">Agendador</option>
                        {% for agendador in agendadores %}
                            <option value="{{agendador.id}}"
                            {% if bAgendador==agendador.id %}
                                selected
                            {% endif %}
                            >{{agendador.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-12 col-md-2">
                    <select name="bTipofecha" class="form-control">
                       
                        <option value="1" {% if tipoFecha==1 %}
                        selected
                    {% endif %}>Fecha Contrato</option>

                    </select>
                </div>
                <div class="col-sm-12 col-md-3">
                    <input type="text" class="form-control" name="bFecha" id="bFecha"  value="">
                </div>
                <div class="col-sm-12 col-md-2">
                    <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
               
            </div>
    </div>
</form>
    <div class="card-body table-responsive p-0" style="height: 500px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>{{ knp_pagination_sortable(agendas, 'Folio cto.', 'contrato.id') }} {% if agendas.isSorted('contrato.id') %} <i class="fas fa-sort"></i>{% endif %}</th>
                    <th>{{ knp_pagination_sortable(agendas, 'Compa침ia', 'cuenta.nombre') }} {% if agendas.isSorted('cuenta.nombre') %} <i class="fas fa-sort"></i>{% endif %}</th>
                    <th>{{ knp_pagination_sortable(agendas, 'Status', 'status.nombre') }} {% if agendas.isSorted('status.nombre') %} <i class="fas fa-sort"></i>{% endif %}</th>
                    
                    <th>{{ knp_pagination_sortable(agendas, 'Canal', 'campania') }} {% if agendas.isSorted('campania') %} <i class="fas fa-sort"></i>{% endif %}</th>
                    <th>{{ knp_pagination_sortable(agendas, 'Agendador', 'agendador.nombre') }} {% if agendas.isSorted('agendador.nombre') %} <i class="fas fa-sort"></i>{% endif %}</th>
                    <th>{{ knp_pagination_sortable(agendas, 'Cliente', 'nombreCliente') }} {% if agendas.isSorted('nombreCliente') %} <i class="fas fa-sort"></i>{% endif %}</th>
                    <th>{{ knp_pagination_sortable(agendas, 'Fecha cto.', 'contrato.fechaCreacion') }} {% if agendas.isSorted('contrato.fechaCreacion') %} <i class="fas fa-sort"></i>{% endif %}</th>

                    <th>Sucursal</th>
                    
                    <th>{{ knp_pagination_sortable(agendas, 'Reuni칩n', 'contrato.reunion') }} {% if agendas.isSorted('contrato.reunion') %} <i class="fas fa-sort"></i>{% endif %}</th>

                </tr>
            </thead>
            <tbody>
            {% for agenda in agendas %}
                <tr>
                    <td>{{ agenda.id }}</td>
                    <td>{{ agenda.contrato.id }}</td>
                    <td>{{ agenda.cuenta }}</td>
                    <td>{{ agenda.status.nombre }}</td>
                    <td>{{ agenda.campania }}</td>
                    <td>{{ agenda.agendador }}</td>
                    <td>{{ agenda.contrato.nombre }}</td>
                    <td>{{ agenda.contrato.fechaCreacion | date('Y-m-d') }}</td>
                    <td>{{ agenda.contrato.sucursal }}</td>
                    <td>{{ agenda.contrato.reunion }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="card-footer clearfix">
            {# display navigation #}
       <div class="navigation">
           {{ knp_pagination_render(agendas,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',{},{
           'position': 'centered',
           'rounded': true,
           }) }}
       </div>
   </div>

<script>
    $('#bFecha').daterangepicker({
        "drops": "down",
        "startDate":"{{dateInicio}}",
        "endDate": "{{dateFin}}",
        "locale": {
            "format": "YYYY-MM-DD",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
        }
    }, function(start, end, label) {
    console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
    
    });
    function buscar(status){
        $("#bStatus").val(status);
        $("#bForm").submit();
    }
</script>

{% endblock %}