{% extends 'base.html.twig' %}

{% block title %}Mensaje{% endblock %}

{% block body %}
    <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <small class="text-muted">Tipo</small>
                <p>{{mensaje.mensajeTipo}}</p>
            </div>
            <div class="col-sm-12 col-md-6 ">
                <small class="text-muted">Fecha</small>
               <p>{{mensaje.fechaAviso|date('Y-m-d')}}</p>
            </div>
            <div class="col-sm-12 col-md-12">
                <small class="text-muted">Observación</small>
                <p>{{mensaje.observacion}}</p>
            </div>
        </div>
    </div>
    <div class="card-footer justify-content-between">
        <a href="{{path('mensaje_leido',{'id':mensaje.id})}}" class='btn btn-success' >Leído</a>
        <a href="{{path('mensaje_calendario')}}" class='btn btn-primary' >Ver Calendario</a>
    </div>

</div>
{% endblock %}
