{% extends 'base.html.twig' %}

{% block title %}{{pagina|default('')}}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-8 ">
        <section class="sticky-top">
        {{ include('ticket/_cabezera.html.twig') }}
            <div class="card">
                <div class="card-body">
                    
                    <hr>
                    <h4>Detalle</h4>

                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <small class="text-muted">Folio</small><br>
                            {{ticket.contrato.folio}}
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <small class="text-muted">Estado</small><br>
                            {{ticket.estado.nombre}}
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <small class="text-muted">Origen</small><br>
                            {{ticket.origen.nombre}}
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <small class="text-muted">Fecha Nuevo</small><br>
                            {{ticket.fechaNuevo ? ticket.fechaNuevo|date('Y-m-d H:i') : '' }}
                        </div>
                    </div>

                    <hr>
                    
                    
                    {% if ticket.estado.id == 4 %}
                        
                            {{ include('ticket/_cerrado.html.twig') }}
                            
                    {% endif %}

                    {% if sesion.getSesion.usuarioTipo.id in [1,8,13,3] %}
                        
                        {% if ticket.estado.id == 2 %}
                        
                            {{ include('ticket/_respuesta.html.twig') }}
                        
                        {% endif %}
                        {% if ticket.estado.id == 1 %}
                        
                            {{ include('ticket/_asignar.html.twig') }}

                        {% endif %}
                        {% if ticket.estado.id == 3 %}
                    
                        {{ include('ticket/_cerrar.html.twig') }}
                        
                        {% endif %}
                    {% else %}
                        {% if ticket.estado.id == 2 %}
                            {% if  sesion.getSesion.id == ticket.encargado.id %}
                                {{ include('ticket/_respuesta.html.twig') }}
                            {% endif %}
                            
                            
                        {% endif %}
                    {% endif %}
                    
                </div>
            </div>
            </section>
    </div>
    <div class="col-sm-12 col-md-4">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        
        <!-- Timelime example  -->
            <div class="row">
                <div class="col-md-12">
                <!-- The time line -->
                    <div class="timeline">
                        <!-- timeline time label -->
                        <div class="time-label">
                        <span class="bg-red">{{ticket.fechaNuevo|date('d-m-Y H:i')}}</span>
                        </div>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        {% for ticketHistoria in ticket.ticketHistorials %}
                            
                        
                        <div class="time-label">
                            <span class="bg-green">{{ticketHistoria.fecha ? ticketHistoria.fecha|date('d-m-Y'): ''}}</span>
                        </div>
                        <div>
                            <i class="fas fa-envelope bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fas fa-clock"></i>{{ticketHistoria.fecha ? ticketHistoria.fecha|date('H:i'):''}}</span>
                                <h3 class="timeline-header"><a href="#">{{ticketHistoria.estado}}</a> {{ticketHistoria.usuarioRegistro}} </h3>

                                <div class="timeline-body">
                                    {{ticketHistoria.observacion}}
                                </div>
                               
                            </div>
                        </div>
                        {% endfor %}
                        <div>
                            <i class="fas fa-clock bg-gray"></i>
                          </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>
    </div>
    </div>


 <!-- Modal Resignar -->
<div class="modal fade" id="card-reasignar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
                <h1>Reasignar</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{path('app_ticket_reasignar',{'id':ticket.id})}}" method="post">

                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <small class="text-muted">Destino</small><br>
                            <select name="cboDestino" class="form-control destino" required>
                                <option value=''>Seleccione Destino</option>
                                {% for usuarioTipo in usuarioTipos %}
                                    {% if usuarioTipo.id != 9  %}
                                        {% if usuarioTipo.id != 8  %}
                                <option value="{{usuarioTipo.id}}">{{usuarioTipo.nombre}}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-1 ">
                            <div class="loading"></div>
                        </div>
                        <div class="col-sm-6 col-md-5">
                            <small class="text-muted">Encargado</small><br>
                            <select name="cboEncargado" class="form-control encargado" required>
                                <option value=''>Seleccione Usuario</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <button class="btn btn-primary" >Reasignar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('.destino').on('change',function(){
        $.ajax({
            url:"/usuario/"+$(this).val()+"/combo",
            type: "post",
            dataType: "html",
            cache: false,
            contentType: false,
            processData: false,
            async: true,
            beforeSend: function(){
                $(".loading").html(' <div class="overlay"><i class="fas fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>');
                
            },
            success:function(data){
                $(".encargado").html(data);
                $(".loading").html('');
            }

        });
    });

</script>
   
{% endblock %}
