{% extends 'base.html.twig' %}

{% block title %}{{pagina|default('')}}{% endblock %}

{% block body %}
<section>


    
    <div class="card">
        <div class="card-header">
            Filtro
        </div>
        <div class="card-body">
            
            <form action="{{path('reporte_campania')}}" method="get" id="bForm">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <select name="bCompania" class="form-control">
                        <option value="0">Todos</option>
                        {% for compania in companias %}
                            <option value="{{compania.id}}"
                            {% if bCompania==compania.id %}
                                selected
                            {% endif %}
                            >{{compania.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-12 col-md-3">
                    <input type="text" class="form-control" name="bFiltro" placeholder="Nombre Canal" value="{{bFiltro}}">
                </div>
                <div class="col-sm-12 col-md-2">
                    <select name="bTipofecha" class="form-control">
                        <option value="0" 
                        >Fecha Carga</option>
                    
                    </select>
                </div>
                <div class="col-sm-12 col-md-3">
                    <input type="text" class="form-control" name="bFecha" id="bFecha"  value="">
                </div>
                <div class="col-sm-12 col-md-1">
                    <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
           

            </div>
            </form>
        </div>  
        
    </div>
</section>
</form>
<section>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Listado</h3> 
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 400px;">
        
            <table class="table table-head-fixed text-nowrap table-striped table-sm">
                <thead>
                    <tr >
                        <th scope="col" align="right">Canal</th>
                        <th scope="col" style="text-align: right;">Prospectos</th>
                        <th scope="col" style="text-align: right;">Agendados</th>
                        <th scope="col" style="text-align: right;">Contratados</th>
                        <th scope="col" style="text-align: right;">Prospectos vs Agendados</th>
                        <th scope="col" style="text-align: right;">Prospectos vs Contratos</th>
                    </tr>
                </thead>
                <tbody>
                    {% set suma_total=0 %}
                    
                    {% set suma_contrata=0 %}
                    {% set suma_agendado=0 %}
                    
                    {% for reporte in reportes %}

                    <tr>
                        <td>{{ reporte.campania_nombre }}</td>
                        <td align="right">{{ reporte.total}}</td>
                        <td  align="right">{{ reporte.agendado}}</td>
                        <td align="right">{{ reporte.contrata}}</td>
                        <td align="right">{{(reporte.agendado/(reporte.total?reporte.total:1)*100)|number_format(0,",",".")}}%</td>
                        <td align="right">{{(reporte.contrata/(reporte.total?reporte.total:1)*100)|number_format(0,",",".")}}%</td>
                    </tr>
                    {% set suma_total = suma_total + reporte.total %}
                    {% set suma_contrata = suma_contrata + reporte.contrata %}
                    {% set suma_agendado = suma_agendado + reporte.agendado %}
                   
                    {% else %}
                    <tr>
                        <td colspan="6">No hay registros</td>
                    </tr>
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr style="text-align: right;">
                        <th></th>
                        <th>{{ suma_total|number_format(0,",",".")}}</th>
                        <th>{{ suma_agendado|number_format(0,",",".")}}</th>
                        <th>{{ suma_contrata|number_format(0,",",".")}}</th>
                        
                        <th></th>
                        <th></th>
                    </tr>

                </tfoot>
            </table>
        </div>
    </div>
</section>

<script>
    $('#bFecha').daterangepicker({
        
        "drops": "down",
        "startDate":"{{dateInicio}}",
        "endDate": "{{dateFin}}",
        "locale": {
            "format": "YYYY-MM-DD",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
        }
    }, function(start, end, label) {
    console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
    
    });
    
</script>
{% endblock %}