{% extends 'base.html.twig' %}

{% block title %}Pagos{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <form action="" method="get">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <select name="bCompania" class="form-control">
                            <option value="0">Todos</option>
                            {% for compania in companias %}
                                <option value="{{compania.id}}"
                                {% if bCompania==compania.id %}
                                    selected
                                {% endif %}
                                >{{compania.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <input type="text" class="form-control bFolio" name="bFolio"  placeholder="Folio" value="{{bFolio}}">
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <input type="text" class="form-control bFiltro" name="bFiltro" placeholder="Nombre/Rut" value="{{bFiltro}}">
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <input type="text" class="form-control" name="bFecha" id="bFecha"  value="" style="display: none;">
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                   
                </div>
                </form>
        </div>
        <div class="card-body table-responsive p-0" style="height: 500px;">
        
            <table class="table table-head-fixed text-nowrap table-striped table-sm">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(cuotas, 'Folio', 'contrato.folio') }} {% if cuotas.isSorted('contrato.folio') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'Sucursal', 'contrato.sucursal') }} {% if cuotas.isSorted('contrato.sucursal') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'Abogado', 'contrato.agenda.abogado') }} {% if cuotas.isSorted('contrato.agenda.abogado') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'Tramitador', 'contrato.tramitador') }} {% if cuotas.isSorted('contrato.tramitador') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'Cobrador', 'contrato.lotes.usuarioLotes.usuario') }} {% if cuotas.isSorted('contrato.lotes.usuarioLotes.usuario') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'Cliente', 'contrato.nombre') }} {% if cuotas.isSorted('contrato.nombre') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'Rut', 'contrato.rut') }} {% if cuotas.isSorted('contrato.rut') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'Fecha Contrato', 'contrato.fechaCreacion') }} {% if cuotas.isSorted('contrato.fechaCreacion') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'Vencimiento', 'fechaPago') }} {% if cuotas.isSorted('fechaPago') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>Último Pago</th>
                        {% if finalizado is null or not finalizado %}
                            
                        <th><i class="fas fa-traffic-light"></i></th>
                        
                        
                        {% endif %}
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for cuota in cuotas %}
              
                {% set contrato = cuota.contrato %}
                    <tr>
                        <td>{{ contrato.folio }}</td>
                        <td>{{ contrato.sucursal}}</td>
                        <td>{{ contrato.agenda.abogado.nombre }}</td>
                        <td>{{ contrato.tramitador.nombre }}</td>
                        <td>{{contrato.lotes.usuarioLotes.usuario}}</td>
                        <td>{{ contrato.nombre }}</td>
                        <td align="center">{{ contrato.rut }}</td>
                        <td align="center">{{ contrato.fechaCreacion|date('d-m-Y H:i') }}</td>
                        <td align="center">{{ cuota.fechaPago|date('d-m-Y') }}</td>
                        <td align="center">{{ ultimoPago(contrato.id) ? ultimoPago(contrato.id) |date('d-m-Y H:i') : '' }}
                            
                        </td>
                        
                        {% if finalizado is null or not finalizado %}
                        <td>
                           {{semaforo(cuota.fechaPago|date('Y-m-d'))|raw}}
                        </td>
                        <td>

                                <a href="{{ path('verpagos_index', {'id': contrato.id}) }}" class="btn btn-primary btn-sm"><i class="far fa-plus-square"></i></a>
                                <a href="{{ path('verpagos_view', {'id': contrato.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                        </td>
                        {% else %}
                        <td>
                            <a href="{{ path('verpagos_index', {'id': contrato.id}) }}" class="btn btn-primary btn-sm"><i class="far fa-plus-square"></i></a>
                            <a href="{{ path('verpagos_view', {'id': contrato.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
          
                        </td>
                        {% endif %}
                        
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="16">No hay contratos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="card-footer clearfix">
                {# display navigation #}
           <div class="navigation">
               {{ knp_pagination_render(cuotas,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',{},{
               'position': 'centered',
               'rounded': true,
               }) }}
           </div>
       </div>
            
        </div>
    </div>
    <script>
        $('#bFecha').daterangepicker({
        
            "drops": "down",
            "startDate":"{{dateInicio}}",
            "endDate": "{{dateFin}}",
            "locale": {
                "format": "YYYY-MM-DD",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
            }
        }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        
        });
        $(".bFolio").change(function(){
            $(".bFiltro").val('');
        });
        $(".bFiltro").change(function(){
            $(".bFolio").val('');
        });
    </script>
{% endblock %}
