{{ form_start(form) }}

	
<div class="card">
	<div class="card-body">

		<section>	
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">{{nombreCuenta|default('Compañia')}} *</small>
				
					<select name="cboEmpresa[]" class="select2" multiple="multiple" data-placeholder="Selecciona compañias" style="width: 100%;" required>
						<option></option>
						{% for cuenta in cuentas %}
							<option value="{{cuenta.id}}"
							{% if cuentas_sel is defined %}
								{% for usuarioCuent in cuentas_sel %}
									{% if usuarioCuent.cuenta.id==cuenta.id %}
										selected
									{% endif %}
								{% endfor %}
							{% endif %}
							>{{cuenta.nombre}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-6 col-md-6">
					<small class="text-muted">Nombre *</small>
					{{form_row(form.nombre,{'label':false,'attr':{'class':'form-control','maxlength':'50','required':true}})}}
				</div>
				
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">Rut *</small>
					{{form_row(form.rut,{'label':false,'attr':{'class':'form-control','placeholder':'Rut','required':true}})}}
					
				</div>
				<div class="col-sm-6 col-md-3">
				<small class="text-muted">Correo *</small>
					{{form_row(form.correo,{'label':false,'attr':{'class':'form-control','required':true}})}}
				</div>
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">Telefono Personal *</small>
					{{form_row(form.telefono,{'label':false,'attr':{'class':'form-control','required':true}})}}
					
				</div>
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">Telefono Empresa *</small>
					{{form_row(form.whatsapp,{'label':false,'attr':{'class':'form-control','required':true}})}}
					
				</div>
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">Dirección *</small>
					{{form_row(form.direccion,{'label':false,'attr':{'class':'form-control','required':true}})}}
					
				</div>
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">Sexo *</small>
					{{form_row(form.sexo,{'label':false,'attr':{'class':'form-control','required':true}})}}
					
				</div>
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">Equipo *</small>
					<select name="cboEquipo" class="form-control equipo" data-placeholder="Selecciona un Equipo" style="width: 100%;" required>
						<option></option>
						{% for equipo in equipo_trabajo %}
							<option value="{{equipo.id}}" 
							{% if equipo_default_id is defined %}
								{% if equipo_default_id == equipo.id %}
									selected
								{% endif %}
							{% endif %}
							>{{equipo.nombre}}</option>
						{% endfor %}
						
					</select>
				</div>
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">Lotes *</small>
					<select name="cboLotes[]" class="select3 lotes" multiple="multiple" data-placeholder="Selecciona Lotes" style="width: 100%;" required>
						<option></option>
						
						{% for lote in lotes %}
							<option value="{{lote.id}}"
							>{{lote.nombre}}</option>
						{% endfor %}
						
					</select>
				</div>
				
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">Colaborador *</small>
					
					<select name="cboTipoDocumento" class="form-control" required>
						<option></option>
						{% for tipo_documento in tipo_documentos %}
							<option value="{{tipo_documento.id}}"
							{% if usuario.tipoDocumento.id is defined %}

									{% if  usuario.tipoDocumento.id ==tipo_documento.id %}
										selected
									{% endif %}
							
							{% endif %}
							>{{tipo_documento.nombre}}</option>
						{% endfor %}}
					</select>
				</div>
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">FechaIngreso *</small>
					<input type="text" name="fecha_ingreso" class="form-control date" value="{{usuario.fechaActivacion?usuario.fechaActivacion|date('Y-m-d'):''}}" required>
				</div>
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">FechaNacimiento *</small>
					<input type="text" name="fecha_nacimiento" class="form-control date" value="{{usuario.fechaNacimiento?usuario.fechaNacimiento|date('Y-m-d'):''}}" required>
				</div>
			</div>
		</section>
		<section>
			<div class="row">
				<div class="col-12">
				<h1>Datos de Sesión</h1>
				</div>
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">Usuario</small>
					{{form_row(form.username,{'label':false,'attr':{'class':'form-control','placeholder':'Usuario'}})}}
				</div>
				<div class="col-sm-6 col-md-3">
					<small class="text-muted">Password</small>
					{{form_row(form.password,{'label':false, 'attr':{'class':'form-control', 'placeholder':'******' ,'type':'password','required':false}})}}
					{{form_row(form.passwordAnt,{'label':false, 'attr':{'class':'form-control', 'placeholder':'******' ,'type':'password','required':false}})}}
				</div>
			</div>
		</section>
	</div>
	<div class="card-footer">
		<button class="btn btn-primary">{{ button_label|default('Crear') }}</button>
	</div>
</div>

    
	<script>
		$(function () {
			//Initialize Select2 Elements
			$('.select2').select2();
			$('.select3').select2();
			if($(".equipo").val()!=""){
				seleccionarLotes();
				obtenerLotesDisponibles($(".equipo").val());
			}
		});
		$(".equipo").on("change",function(){
			obtenerLotesDisponibles($(this).val());
		});
		function obtenerLotesDisponibles(equipoId){
			$.ajax({
					method: "POST",
					url: "/lotes/"+equipoId+"/por_equipos"
				}).done(function( data ) {
					$('.lotes').find('option:not(:first)').remove();
					{% if equipo_default_id is defined %}
						
									
						
						if({{equipo_default_id}}==equipoId){
							seleccionarLotes();
						}
					{% endif %}
					// data es un JSON con los lotes del equipo
					$.each(data, function(index, lote) {
						$('.lotes').append(
							$('<option>', {
								value: lote.id,
								text: lote.nombre
							})
						);
					});
					$('.lotes').trigger('change');
				});
		}
		function seleccionarLotes(){


			
	        
			// Agregar las opciones con selected
			{% for usuarioLote in usuario.usuarioLotes %}
				$('.lotes').append(
					$('<option>', {
						value: '{{usuarioLote.lote.id}}',
						text: '{{usuarioLote.lote.nombre}}',
						selected: true
					})
				);
			{% endfor %}
    
			// Actualizar Select2 si está inicializado
			$('.lotes').trigger('change');
		}

	</script>
{{ form_end(form) }}
