{% extends 'base.html.twig' %}

{% block title %}{{pagina|default('Primera Cuota') }}{% endblock %}

{% block body %}
 <form action="" method="get" class="frmBuscar">
        {{ include('/cuadrosBusquedas/busquedaContrato.html.twig', {'TipoFiltro':TipoFiltro}) }}
</form>
    <div class="card">
        <div class="card-header">
            <button type="button" class="btn btn-success exportarxslx">Exportar XLSX</button>
        </div>
        <div class="card-body table-responsive p-0" style="height: 500px;">
            <table class="table table-head-fixed text-nowrap table-striped table-sm">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(cuotas, 'Folio', 'contrato.folio') }} {% if cuotas.isSorted('contrato.folio') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'AgendaId', 'contrato.agenda.id') }} {% if cuotas.isSorted('contrato.agenda.id') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'Abogado', 'contrato.agenda.abogado') }} {% if cuotas.isSorted('contrato.agenda.abogado') %} <i class="fas fa-sort"></i>{% endif %}</th><th>{{ knp_pagination_sortable(cuotas, 'Tramitador', 'contrato.tramitador') }} {% if cuotas.isSorted('contrato.tramitador') %} <i class="fas fa-sort"></i>{% endif %}</th>                       
                        <th>{{ knp_pagination_sortable(cuotas, 'Cliente', 'contrato.nombre') }} {% if cuotas.isSorted('contrato.nombre') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'Contrató', 'contrato.fechaCreacion') }} {% if cuotas.isSorted('contrato.fechaCreacion') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(cuotas, 'MontoCto.', 'contrato.montoContrato') }} {% if cuotas.isSorted('contrato.montoContrato') %} <i class="fas fa-sort"></i>{% endif %}</th>                                            
                        <th>{{ knp_pagination_sortable(cuotas, 'Vcto.', 'fechaPago') }} {% if cuotas.isSorted('fechaPago') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>1eraCuota</th>
                        <th>DíasCuota</th>                       
                        <th>ValorCuota</th>
                         <th>Pagó</th>
                        <th>TipoPago</th>
                        <th>ÚltimoPago</th>
                        {% if finalizado is null or not finalizado %}                            
                        <th><i class="fas fa-traffic-light"></i></th>                                            
                        {% endif %}
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for cuota in cuotas %}
              
                {% set contrato = cuota.contrato %}
                {% set fechaPagoPrimeraCuota = fechaPagoPorCuota(cuota.id) %}
                    <tr>
                        <td>{{ contrato.folio }}</td>
                        <td>{{ contrato.agenda.id }}</td>
                       
                        <td>{{ contrato.agenda.abogado.nombre }}</td>
                        <td>{{ contrato.tramitador.nombre|default('') }}</td>
                       
                        <td>{{ contrato.nombre }}</td>
                       
                        <td align="center">{{ contrato.fechaCreacion|date('d-m-Y') }}</td>
                        <td align="center">${{ contrato.montoContrato|number_format(0, ',', '.') }}</td>
                        
                        <td align="center">{{ cuota.fechaPago|date('d-m-Y') }}</td>
                        <td align="center">{{ fechaPagoPrimeraCuota == '' ? '' : fechaPagoPrimeraCuota|date('d-m-Y')}}</td>
                        <td align="center">
                            {% if fechaPagoPrimeraCuota == '' or cuota.monto > cuota.pagado %}
                                 {{ diasmora(cuota.fechaPago|date('Y-m-d'))<0?0:diasmora(cuota.fechaPago|date('Y-m-d'))}} dias
                            {% else %}
                            0 dias
                            {% endif %}
                        </td>
                        <td align="center">{{cuota.monto|number_format(0, ',', '.') }} </td>
                        <td align="center">{{cuota.pagado|number_format(0, ',', '.') }} </td>
                        <td align="left">
                            {% if contrato.isAbono %}
                                Abono
                            {% elseif contrato.isTotal %}
                                Pago Total
                            {% elseif contrato.isIncorporacion %}
                                Cuota Incorporación
                            {% else %}
                                Cuotas
                            {% endif %}

                          </td>
                        <td align="center">{{ ultimoPago(contrato.id) ? ultimoPago(contrato.id) |date('d-m-Y') : '' }}
                            
                        </td>
                        
                        {% if finalizado is null or not finalizado %}
                        <td>
                            {% set pago = proximoPago(contrato.id) %}
                            {% if pago %}
                                {{semaforoContrato(pago|date('Y-m-d'),(cuota.monto-cuota.pagado))|raw}}
                            {% endif %}
                        </td>
                        <td>
                             <a href="{{ path('primera_cuota_contrato_show', {'id': contrato.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                        </td>
                        {% else %}
                        <td>
                            <a href="{{ path('primera_cuota_contrato_show', {'id': contrato.id}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                            <a href="{{url_web}}{{pdf_contrato}}{{contrato.pdf}}" class="btn btn-success btn-sm"><i class="fas fa-file-pdf"></i></a>                            
                        </td>
                        {% endif %}
                        
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="16">No hay contratos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="card-footer clearfix">
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(cuotas,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',{},{
                    'position': 'centered',
                    'rounded': true,
                    }) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#bFecha').daterangepicker({
        
            "drops": "down",
            "startDate":"{{dateInicio}}",
            "endDate": "{{dateFin}}",
            "locale": {
                "format": "YYYY-MM-DD",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
            }
        }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        
        });
        $(".bFolio").change(function(){
            $(".bFiltro").val('');
        });
        $(".bFiltro").change(function(){
            $(".bFolio").val('');
        });

        $(".exportarxslx").on('click',function(){
            $(".frmBuscar").attr('action',"{{path('pago_index_primera_cuota_excel')}}");
            $(".frmBuscar").submit();

            $("button").prop('disabled',false);
        });

        $(".buscar").on('click',function(){
            $(".frmBuscar").attr('action',"#");
            $(".frmBuscar").submit();
        });
    </script>
{% endblock %}
