{% extends 'base.html.twig' %}

{% block title %}Contrato index{% endblock %}

{% block body %}
<form action="" method="get">
        {{ include('/cuadrosBusquedas/busquedaContrato.html.twig', {'TipoFiltro':TipoFiltro}) }}
</form>
    <div class="card">
        <div class="card-header">
            
        </div>
        <div class="card-body table-responsive p-0" style="height: 500px;">
        
            <table class="table table-head-fixed text-nowrap table-striped table-sm">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(contratos, 'Compañia', 'agenda.cuenta') }} {% if contratos.isSorted('agenda.cuenta') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(contratos, 'Folio', 'folio') }} {% if contratos.isSorted('folio') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(contratos, 'AgendaId', 'agenda.id') }} {% if contratos.isSorted('agenda.id') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(contratos, 'Cliente', 'nombre') }} {% if contratos.isSorted('nombre') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(contratos, 'Agendador', 'agenda.agendador') }} {% if contratos.isSorted('agenda.agendador') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(contratos, 'Abogado', 'agenda.abogado') }} {% if contratos.isSorted('agenda.abogado') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(contratos, 'Tramitador', 'tramitador') }} {% if contratos.isSorted('tramitador') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(contratos, 'Sucursal', 'sucursal') }} {% if contratos.isSorted('sucursal') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        
                        <th>{{ knp_pagination_sortable(contratos, 'Estado', 'agenda.status') }} {% if contratos.isSorted('agenda.status') %} <i class="fas fa-sort"></i>{% endif %}</th>

                        <th>{{ knp_pagination_sortable(contratos, 'Fecha Contrato', 'fechaCreacion') }} {% if contratos.isSorted('fechaCreacion') %} <i class="fas fa-sort"></i>{% endif %}</th>
                        <th>{{ knp_pagination_sortable(contratos, 'Aviso Termino', 'fechaDesite') }} {% if contratos.isSorted('fechaDesiste') %} <i class="fas fa-sort"></i>{% endif %}</th>
                                         
                        {% if sesion.getSesion.usuarioTipo.id in [1,4,8,7] %}
                        <th>Acciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for contrato in contratos %}
                    <tr>
                        <td>{{contrato.agenda.cuenta.nombre}}</td>
                        <td>{{ contrato.folio }}</td>
                        <td>{{ contrato.agenda.id }}</td>
                        <td>{{ contrato.nombre }}</td>
                        <td>{{ contrato.agenda.agendador.nombre }}</td>
                        <td>{{ contrato.agenda.abogado.nombre }}</td>
                        <td>{{ contrato.tramitador.nombre }}</td>
                        <td>{{ contrato.sucursal}}</td>
                        <td>{{ contrato.agenda.status.nombre}}</td>
                        <td>{{ contrato.fechaCreacion|date('d-m-Y H:i') }}</td>
                        <td>{{ contrato.fechaDesiste ? contrato.fechaDesiste|date('d-m-Y H:i'): '' }}</td>
                       <td>
                            
                                
                            {% if contrato.pdf is null %}
                            <i class="fas fa-file-pdf"></i>
                            {% else %}

                                <a href="{{url_web}}{{pdf_contrato}}{{contrato.pdf}}" class="btn btn-success btn-sm"><i class="fas fa-file-pdf"></i></a>
                            {% endif %}
                                <a href="{{ path('desconoce_show', {'id': contrato.id}) }}" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></a>
                                <a href="{{ path('desconoce_edit', {'id': contrato.id}) }}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                                
                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="16">No hay contratos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="card-footer clearfix">
                {# display navigation #}
           <div class="navigation">
               {{ knp_pagination_render(contratos,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',{},{
               'position': 'centered',
               'rounded': true,
               }) }}
           </div>
       </div>
            
        </div>
    </div>
    <script>
        $('#bFecha').daterangepicker({
        
            "drops": "down",
            "startDate":"{{dateInicio}}",
            "endDate": "{{dateFin}}",
            "locale": {
                "format": "YYYY-MM-DD",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
            }
        }, function(start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
        
        });
        $(".bFolio").change(function(){
            $(".bFiltro").val('');
        });
        $(".bFiltro").change(function(){
            $(".bFolio").val('');
        });
    </script>
{% endblock %}
