{% extends 'base.html.twig' %}

{% block title %}Cuenta{% endblock %}

{% block body %}
    <h1>Cuenta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cuentum.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cuentum.nombre }}</td>
            </tr>
            <tr>
                <th>FechaCreacion</th>
                <td>{{ cuentum.fechaCreacion ? cuentum.fechaCreacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FechaUltimamodificacion</th>
                <td>{{ cuentum.fechaUltimamodificacion ? cuentum.fechaUltimamodificacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cuenta_index') }}">back to list</a>

    <a href="{{ path('cuenta_edit', {'id': cuentum.id}) }}">edit</a>

    {{ include('cuenta/_delete_form.html.twig') }}
{% endblock %}
