{% extends 'base.html.twig' %}

{% block title %}ContratoRol index{% endblock %}

{% block body %}
    <h1>ContratoRol index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NombreRol</th>
                <th>InstitucionAcreedora</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrato_rol in contrato_rols %}
            <tr>
                <td>{{ contrato_rol.id }}</td>
                <td>{{ contrato_rol.nombreRol }}</td>
                <td>{{ contrato_rol.institucionAcreedora }}</td>
                <td>
                    <a href="{{ path('contrato_rol_show', {'id': contrato_rol.id}) }}">show</a>
                    <a href="{{ path('contrato_rol_edit', {'id': contrato_rol.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contrato_rol_new') }}">Create new</a>
{% endblock %}
