{% extends 'base.html.twig' %}

{% block title %}ContratoRol{% endblock %}

{% block body %}
    <h1>ContratoRol</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrato_rol.id }}</td>
            </tr>
            <tr>
                <th>NombreRol</th>
                <td>{{ contrato_rol.nombreRol }}</td>
            </tr>
            <tr>
                <th>InstitucionAcreedora</th>
                <td>{{ contrato_rol.institucionAcreedora }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contrato_rol_index') }}">back to list</a>

    <a href="{{ path('contrato_rol_edit', {'id': contrato_rol.id}) }}">edit</a>

    {{ include('contrato_rol/_delete_form.html.twig') }}
{% endblock %}
