<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>CRM Estudio</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/build/adminlte/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/build/adminlte/dist/css/adminlte.css">

  
  <!-- daterange picker -->
  <link rel="stylesheet" href="/build/adminlte/plugins/daterangepicker/daterangepicker.css">

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

 <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="/build/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="/build/adminlte/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="/build/adminlte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

  <!-- Toastr -->
  <link rel="stylesheet" href="/build/adminlte/plugins/toastr/toastr.min.css">
<!-- Select2 -->
  <link rel="stylesheet" href="/build/adminlte/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="/build/adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
 <!-- fullCalendar -->
 <link rel="stylesheet" href="/build/adminlte/plugins/fullcalendar/main.min.css">
 <link rel="stylesheet" href="/build/adminlte/plugins/fullcalendar-daygrid/main.min.css">
 <link rel="stylesheet" href="/build/adminlte/plugins/fullcalendar-timegrid/main.min.css">
 <link rel="stylesheet" href="/build/adminlte/plugins/fullcalendar-bootstrap/main.min.css">
 <link rel="stylesheet" href="/build/css/dropzone.css">

  <!-- REQUIRED SCRIPTS -->

  <!-- jQuery -->
  <script src="/build/adminlte/plugins/jquery/jquery.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/build/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/build/adminlte/dist/js/adminlte.min.js"></script>
  <script src="/build/adminlte/dist/js/demo.js"></script>
  <!-- InputMask -->
<script src="/build/adminlte/plugins/moment/moment.min.js"></script>
<script src="/build/adminlte/plugins/inputmask/jquery.inputmask.bundle.js"></script>
  <!-- date-range-picker -->
  <script src="/build/adminlte/plugins/daterangepicker/daterangepicker.js"></script>
  <!-- bootstrap color picker -->
  <script src="/build/adminlte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
 <!-- Select2 -->
  <script src="/build/adminlte/plugins/select2/js/select2.full.min.js"></script>
  <script src="/build/adminlte/plugins/fullcalendar/main.min.js"></script>
<script src="/build/adminlte/plugins/fullcalendar-daygrid/main.min.js"></script>
<script src="/build/adminlte/plugins/fullcalendar-timegrid/main.min.js"></script>
<script src="/build/adminlte/plugins/fullcalendar-interaction/main.min.js"></script>
<script src="/build/adminlte/plugins/fullcalendar-bootstrap/main.min.js"></script>
<!-- bootstrap color picker -->
<script src="/build/adminlte/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="/build/js/jquery.rut.js"></script>
<script src="/build/js/jquery.number.js"></script>
<script src="/build/js/howler.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.6/min/dropzone.min.js"></script>
<!-- SweetAlert2 -->
<script src="/build/adminlte/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="/build/adminlte/plugins/toastr/toastr.min.js"></script>
<!-- Popper -->
<script src="/build/adminlte/plugins/popper/popper.min.js"></script>
<script src="/build/adminlte/plugins/popper/popper-utils.min.js"></script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Bootstrap Switch -->
<script src="/build/adminlte/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>

<!--chart -->
<script src="/build/adminlte/plugins/chart.js/Chart.min.js"></script>



<!-- Site wrapper -->
<div class="overlay-wrapper">
    <!--<div class="overlay loader"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>-->
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{path('dashboard')}}" class="nav-link">Inicio</a>
      </li>
      
    </ul>
    {{ render(controller('App\\Controller\\ChangecompController::index', {'route_name': app.request.attributes.get('_route')|default('/')})) }}
   
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      {{ render(controller('App\\Controller\\MensajeController::avisos')) }}
 
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
 
    <a href="" class="brand-link">
      <img src="/build/img/empresas/{{sesion.getEmpresaActual.logo}}"
           alt="{{sesion.getEmpresaActual.nombre}}"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light"><!-- Change Company -->
     CRM
</span>
    </a>

    {{ render(controller('App\\Controller\\MenuController::mainMenu', {'route_name': app.request.attributes.get('_route')|default('/')})) }}
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{pagina|default('')|raw}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              
              <li class="breadcrumb-item active">
              {% if fechaUltimoIngreso is defined %}
                <p> {{fechaUltimoIngreso?'Último Ingreso: ' ~ fechaUltimoIngreso|date('Y-m-d h:i'):''}}</p>
              {% endif %}
              </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        {% if error is defined %}
            {{error|raw}}
        {% endif %}
        {% block body %}
        
        {% endblock %}

        {% set avisoCumpleanio = avisoCumpleanios( sesion.getSesion.id )%}
       
        {% if avisoCumpleanio %}
            
        
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="staticBackdropLabel">&#128227; IMPORTANTE: </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <p>Hoy es el cumpleaños de:
                        {{avisoCumpleanio|raw}}
                    
                    les deseamos por parte de nuestro estudio que hoy sea un día lleno de gratos momentos. </p>
                        
                        <h5>¡FELIZ CUMPLEAÑOS! </h5>
                    </div>
                    <div class="modal-footer bg-danger">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        
                    </div>
                </div>
            </div>
        </div>



        {% endif %}
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Titulo</h5>
      <p>Sidebar content</p>
    </div>
  </aside>

        
    	</div>
        {% block javascripts %}
   

            <script type="text/javascript">
                $(".ocultar-campo").hide();
                $( "form" ).submit(function( event ) {
                    $("button").prop('disabled',true);
                });
                $(function() {
                    const Toast = Swal.mixin({
                      toast: true,
                      position: 'top-end',
                      showConfirmButton: false,
                      timer: 5000
                    });
              /*  window.onload = function ()  {
                    $(".loader").fadeOut("slow");
                };*/
                {% if error_toast is defined %}
                    {{error_toast|raw}}
                {% endif %}
            });

                function pagination(pag){
                    $.ajax({
                        url:pag,
                        type: "get",
                        dataType: "html",
                        cache: false,
                        contentType: false,
                        processData: false,
                        async: true,
                        beforeSend: function(){
                            $('div.progress > div.progress-bar').css({ "width":"1%" }); 
                            $("#spinnerModal").modal({
                                show : true,
                                backdrop : false
                            });
                        },
                        xhr: function () {
                            var xhr = new window.XMLHttpRequest();
                            //Upload Progress
                            xhr.upload.addEventListener("progress", function (evt) {
                                if (evt.lengthComputable) {
                                    var percentComplete = ((evt.loaded / evt.total) * 100)-10; 
                                    $('div.progress > div.progress-bar').css({ "width": percentComplete + "%" }); 
                                } 
                            }, false);
                            //Download progress
                            xhr.addEventListener("progress", function (evt)
                            {
                                if (evt.lengthComputable)
                                { 
                                    var percentComplete = ((evt.loaded / evt.total) *100)-10;
                                    $("div.progress > div.progress-bar").css({ "width": percentComplete + "%" }); 
                                } 
                            },
                            false);
                            return xhr;
                        },
                        complete: function(){
                            $("div.progress > div.progress-bar").css({ "width":  "100%" }); 
                            $("#spinnerModal").modal('hide');

                        },
                        success:function(data){
                            $("#v-pills-fpr").html(data);
                            
                        }

                    });
                
                }


          

                /*Ajax agregar rendicion*/

                function vistaCrear(pag){
                    $.ajax({
                        url:pag,
                        type: "post",
                        dataType: "html",
                        cache: false,
                        contentType: false,
                        processData: false,
                        async: true,
                        beforeSend: function(){
                            
                            $('div.progress > div.progress-bar').css({ "width":"1%" }); 
                            $("#spinnerModal").modal({
                                show : true,
                                backdrop : false
                            });
                        },
                        xhr: function () {
                            var xhr = new window.XMLHttpRequest();
                            //Upload Progress
                            xhr.upload.addEventListener("progress", function (evt) {
                                if (evt.lengthComputable) {
                                    var percentComplete = ((evt.loaded / evt.total) * 100)-10; 
                                    $('div.progress > div.progress-bar').css({ "width": percentComplete + "%" }); 
                                } 
                            }, false);
                            //Download progress
                            xhr.addEventListener("progress", function (evt)
                            {
                                if (evt.lengthComputable)
                                { 
                                    var percentComplete = ((evt.loaded / evt.total) *100)-10;
                                    $("div.progress > div.progress-bar").css({ "width": percentComplete + "%" }); 
                                } 
                            },
                            false);
                            return xhr;
                        },
                        complete: function(){
                            
                            $("div.progress > div.progress-bar").css({ "width":  "100%" }); 
                            $("#spinnerModal").modal('hide');

                        },
                        success:function(data){
                            $("#agregaModal .modal-content").html(data);

                            $("#agregaModal").modal({
                                show : true,
                                backdrop : false
                            });
                        
                            
                        }

                    });

                }

                function vistaEliminar(pag, id_form){
                    var dataString = new FormData(document.getElementById("form"+id_form));
                    $.ajax({
                        url:pag,
                        type: "DELETE",
                        dataType: "html",
                        cache: false,
                        contentType: false,
                        processData: false,
                        async: true,
                        beforeSend: function(){
                            
                            $('div.progress > div.progress-bar').css({ "width":"1%" }); 
                            $("#spinnerModal").modal({
                                show : true,
                                backdrop : false
                            });
                        },
                        xhr: function () {
                            var xhr = new window.XMLHttpRequest();
                            //Upload Progress
                            xhr.upload.addEventListener("progress", function (evt) {
                                if (evt.lengthComputable) {
                                    var percentComplete = ((evt.loaded / evt.total) * 100)-10; 
                                    $('div.progress > div.progress-bar').css({ "width": percentComplete + "%" }); 
                                } 
                            }, false);
                            //Download progress
                            xhr.addEventListener("progress", function (evt)
                            {
                                if (evt.lengthComputable)
                                { 
                                    var percentComplete = ((evt.loaded / evt.total) *100)-10;
                                    $("div.progress > div.progress-bar").css({ "width": percentComplete + "%" }); 
                                } 
                            },
                            false);
                            return xhr;
                        },
                        complete: function(){
                            
                            $("div.progress > div.progress-bar").css({ "width":  "100%" }); 
                            $("#spinnerModal").modal('hide');

                        },
                        success:function(data){
                            $("#agregaModal .modal-content").html(data);

                            $("#agregaModal").modal({
                                show : true,
                                backdrop : false
                            });
                        
                            
                        }

                    });

                }
                function grabarCrear(pag){
                    var dataString = new FormData(document.getElementById("form"));
                    $.ajax({
                        url:pag,
                        type: "post",
                        dataType: "html",
                        data: dataString,
                        cache: false,
                        contentType: false,
                        processData: false,
                        async: true,
                        beforeSend: function(){
                            $("div.progress > div.progress-bar").addClass("progress-bar-animated");
                            $("#spinnerModal").modal({
                                show : true,
                                backdrop : false
                            });
                            
                        },
                        xhr: function () {
                            var xhr = new window.XMLHttpRequest();
                            //Upload Progress
                            xhr.upload.addEventListener("progress", function (evt) {
                                if (evt.lengthComputable) {
                                    var percentComplete = ((evt.loaded / evt.total) * 100)-10; 
                                    $('div.progress > div.progress-bar').css({ "width": percentComplete + "%" }); 
                                } 
                            }, false);
                            //Download progress
                            xhr.addEventListener("progress", function (evt)
                            {
                                if (evt.lengthComputable)
                                { 
                                    var percentComplete = ((evt.loaded / evt.total) *100)-10;
                                    $("div.progress > div.progress-bar").css({ "width": percentComplete + "%" }); 
                                } 
                            },
                            false);
                            return xhr;
                        },
                        complete: function(){
                            $("#spinnerModal").modal('hide');
                            
                            $("div.progress > div.progress-bar").css({ "width":  "100%" }); 

                        },
                        success:function(data){
                            $("#agregaModal .modal-content").html(data);

                            $("#agregaModal").modal({
                                show : true,
                                backdrop : false
                            });
                            $("div.progress > div.progress-bar").removeClass("progress-bar-animated");
                            $("div.progress > div.progress-bar").css({ "width": "0%" }); 
                        }

                    });

                }

                function cerrarCrear(pag){

                    $("#agregaModal").modal('hide');
                    pagination(pag);
                    //window.location.reload();
                    window.location.href=pag;
                }

            
                $('#usuario_whatsapp').inputmask({mask:'(+56 9) 9999 9999'});  //static mask
                $('#usuario_telefono').inputmask({mask:'(+56 9) 9999 9999'}); 
                
                $('#agenda_telefonoCliente').inputmask({mask:'+56999999999'}); 
                $('#agenda_telefonoRecadoCliente').inputmask({mask:"+56999999999"}); 

                $('#usuario_correo').inputmask({
                    mask: "*{1,100}[.*{1,100}][.*{1,100}][.*{1,100}]@*{1,50}[.*{2,50}][.*{1,3}]",
                    greedy: false,
                    onBeforePaste: function (pastedValue, opts) {
                    pastedValue = pastedValue.toLowerCase();
                    return pastedValue.replace("mailto:", "");
                    },
                    definitions: {
                    '*': {
                        validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~\-]",
                        casing: "lower"
                    }
                    }
                });
                $('#agenda_emailCliente').inputmask({
                    mask: "*{1,100}[.*{1,100}][.*{1,100}][.*{1,100}]@*{1,50}[.*{2,50}][.*{1,3}]",
                    greedy: false,
                    onBeforePaste: function (pastedValue, opts) {
                    pastedValue = pastedValue.toLowerCase();
                    return pastedValue.replace("mailto:", "");
                    },
                    definitions: {
                    '*': {
                        validator: "[0-9A-Za-z!#$%&'*+/=?^_`{|}~\-]",
                        casing: "lower"
                    }
                    }
                });
                
               /* $("#usuario_rut").inputmask({
                    mask: "9[9.999.999]-[9|K|k]",
                });*/
                $("#usuario_rut").inputmask({
                    mask:"9{1,2}.9{3}.9{3}-(9|k|K)",
                });
                $('.date').daterangepicker({
          
                    "singleDatePicker": true,
                    "locale": {
                        "format": "YYYY-MM-DD",
                        "applyLabel": "Apply",
                        "cancelLabel": "Cancel",
                    }
                });
                
                {% if avisoCumpleanio %}

                    $('#staticBackdrop').modal('show');
                {% endif %}
            </script>
        {% endblock %}
   <!-- Control Sidebar -->

  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->


</body>
</html>