<style>
    body{
        font-size:13px;
    }
</style>
<div class="page">
    <div align="right">Nro Folio {{anexo.id}}-{{anexo.contrato.folio}}</div>
  
  <div align="center"><h4>{{status.nombre|upper|special_chars|raw}} CONTRATO DE PRESTACI&Oacute;N DE SERVICIOS</h4></div>
  <p align="justify">En Santiago de Chile a {{anexo.fechaCreacion|date("d-m-Y")}}, entre Estudio Jur&iacute;dico Alfaro y Madariaga Spa., rol &uacute;nico tributario 76.638.999-6 
  empresa de servicios Jur&iacute;dicos con domicilio en casa matriz <strong>Hu&eacute;rfanos 1147, 
  oficina 501</strong>, comuna de Santiago, Regi&oacute;n Metropolitana, quien en adelante se denominar&aacute; indistintamente <strong>&quot;Estudio Jur&iacute;dico&quot;</strong> y por la otra don 
  (&ntilde;a) <strong>{{anexo.contrato.nombre|title|special_chars|raw}}</strong>, C&eacute;dula de identidad N&deg; {{anexo.contrato.rut}}, 
  han celebrado con fecha de hoy, de manera libre y espont&aacute;nea, un anexo de contrato, desglosando su contenido en lo siguiente.</p>
  
  <p align="justify"><strong>PRIMERO:</strong> El cliente contrat&oacute; {{anexo.contrato.agenda.reunion|special_chars|raw}} los Servicios Profesionales con El 
  Estudio Jur&iacute;dico, el d&iacute;a {{anexo.contrato.fechaCreacion|date("d-m-Y")}}, para que &eacute;ste en su representaci&oacute;n, otorgue Asistencia Jur&iacute;dica.</p>
  
  <p align="justify"><strong> SEGUNDO:</strong> Que los honorarios de los servicios profesionales pactados e indicados en el contrato {{anexo.contrato.id}} de prestaci&oacute;n de servicios, 
  no se encuentran enteramente pagadas en su totalidad</p> 
  
  <p align="justify"><strong>TERCERO: {{anexo.contrato.nombre|title|special_chars|raw}}</strong>, por este acto {{status.nombre|upper|special_chars|raw}} al contrato anteriormente individualizado.</p>
  
  <p align="justify">Las partes se otorgan el m&aacute;s completo y total finiquito respecto de las prestaciones mutuas, que nada se 
  debe por cualquier concepto y que acepta a su entera satisfacci&oacute;n toda la gesti&oacute;n realizada por el Estudio jur&iacute;dico 
  desisti&eacute;ndose desde ya a cualquier acci&oacute;n que pudiera corresponderle en contra del Estudio Jur&iacute;dico.</p>
  
  <p align="justify"><strong>CUARTO:</strong> Que en virtud de lo se&ntilde;alado en la cl&aacute;usula anterior el Estudio Jur&iacute;dico, 
  hace entrega de la documentaci&oacute;n requerida declarando en este acto recibirla a su entera satisfacci&oacute;n.</p>
  
  <p align="justify"><strong>MONTO CANCELADO:</strong> 
    {% for cuota in cuotas %}
        {% if cuota.anular is null %}
            ${{cuota.monto|number_format(0, ',', '.')}}
        {% else %}
            $0
        {% endif %}
    {% else %}
        $0
    {% endfor %}
    .</p>
  
  </div>
  <div class="page">
  <p align="justify">El presente contrato se otorga para ambas partes, con id&eacute;ntico tenor y validez, quedando una copia en 
      poder de cada una de las partes.</p>
  
  <table width="100%">
      <tr><td width="50%" align="center"><img src="{{url_root}}/build/img/firma_contrato.jpg" width="150px"></td><td></td></tr>
  
      <tr>
          <td><p align="center"><strong>ESTUDIO JURIDICO ALFARO Y MADARIAGA</strong></p>
              <p align="center"><strong>R.U.T.: 76.638.999-6</strong></p>            </td>
              <td><p align="center"><strong>{{anexo.contrato.nombre|special_chars|raw}}</strong></p>
                  <p align="center"><strong>RUT: {{anexo.contrato.rut}}</strong></p>
                  </td>
  
      </tr>
  </table>
  </div>
  