<!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        
        <div class="info">
          <a href="#" class="d-block">{{sesion.getSesion.nombre}}</a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
      {% if items is defined %}
        {% for item in items %}

              <li class="nav-item {{item.raiz1|raw}} ">
              <a href="{{item.url}}" class="nav-link {% if item.class is defined %}{{ item.class }}{% endif %}">
                <i class="nav-icon {{item.icon}}"></i>
                <p>
                  {{item.title}}
                  {{item.raiz2|raw}}
                </p>
              </a>
              {% if item.raiz1 != '' %}
                <ul class="nav nav-treeview">
                {% for subitem in subitems %}
                  {% if subitem.menuraiz == item.menuraiz %}
                    <li class="nav-item">
                      <a href="{{subitem.url}}" class="nav-link {% if subitem.class is defined %}{{ subitem.class }}{% endif %}">
                        <i class="{{subitem.icon}} nav-icon"></i>
                        <p>{{subitem.title}}</p>
                      </a>
                    </li>
                  {% endif %}

                {% endfor %}
                </ul>
              {% endif %}
            </li>

        {% endfor %}
      {% endif %}


          
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->